[Desktop Entry]
Type=Application
Name=Superfile
GenericName=File manager
Comment=Terminal file manager
TryExec=spf
Exec=spf
Terminal=true
Icon=system-file-manager
Categories=System;FileManager;
Keywords=spf;files;terminal;
StartupNotify=false
